/*Whole page on screen*/
body { 
    color:rgb(211, 211, 211)
}

/*Heading one*/
h1 {
    font-family:garamond;
}

/*paragraphs*/
p {
    font-family:garamond;
}

/*Designing navbar and setup*/
navbar {
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    color: rgb(4, 65, 4);
}

/* Navbar Links (the pages it takes you to) */
navbar a {
    text-decoration:none;
    color: white;
    font-family: garamond;
}

/*Navbar Links Background*/
navbar a background {
    color: rgb(4, 65, 4);
}

/*Navbar Links whilst mouse is hovering over*/
navbar a:hover {
    color: #98DB84;
    transition: background-color 0.3s ease;
}

/*Navbar Links Background whilst mouse is hovering over*/
navbar a background:hover {
    color: #D5FFC8;
    transition: background-color 0.3s ease;

}

/* Tablet and smaller */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* Phone */
@media (max-width: 480px) {
    .navbar a {
        font-size: 14px;
    }
}

/*splits page into section*/
.page-container {
    display: flex;
    min-height: 100vh;
}

/*side section containing contacts info*/
.sidebar {
    width: 250px;
    background-color: #43A84A;
    padding: 20px;
    text-align: center;
    font-family: garamond;
}

/*main page content (faqs, services, etc.)*/
.main-content {
    flex: 1;
    padding: 20px;
    font-family: garamond;
}