/*Whole page on screen*/
body { 
    color:lightgray
}

/*Heading one*/
h1 {
    font-family:garamond;
}

/*paragraphs*/
p {
    font-family:garamond;
}

/*Designing navbar and setup*/
navbar {
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

/* Navbar Links (the pages it takes you to) */
navbar a {
    color:green;
    text-decoration:none;

}

/*Navbar Links Background*/
navbar a background {

}

/*Navbar Links whilst mouse is hovering over*/
navbar a:hover {

}

/*Navbar Links Background whilst mouse is hovering over*/
navbar a background:hover {

}

/* Tablet and smaller */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* Phone */
@media (max-width: 480px) {
    .navbar a {
        font-size: 14px;
    }
}
