/*Whole page on screen*/

body { 
    color:lightgray
}

/*Designing navbar and setup*/

navbar {
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

/* Navbar Links (the pages it takes you to) */

navbar a {

}

/*Navbar Links Background*/

navbar a background {

}

/*Navbar Links whilst mouse is hovering over*/

navbar a:hover {

}

/*Navbar Links Background whilst mouse is hovering over*/

navbar a background:hover {

}

/* Normal desktop styles */


/* Tablet and smaller */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* Phone */
@media (max-width: 480px) {
    .navbar a {
        font-size: 14px;
    }
}
